[is='flynt-accordion-default'] {
  padding: 0 0.5%;

  .accordion {
    @include reset-list;
  }

  .grid-header {
    column-gap: $container-padding-desktop;
    display: grid;
    grid-template-columns: 0.3fr 1fr 2.5fr 2fr 0.5fr;
    padding-bottom: 1px;

    div {
      &:last-child {
        text-align: right;
      }
    }
  }

  .panel {
    &-trigger {
      border-top: 1px solid $black;
      column-gap: $container-padding-desktop;
      cursor: pointer;
      display: grid;
      grid-template-columns: 0.3fr 1fr 2.5fr 2fr 0.5fr;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 5px;
      position: relative;
      width: 100%;

      div {
        &:last-child {
          text-align: right;
        }
      }
    }

    // do not add margins or padding to this, it will break the layout
    &-content {
      display: none;
      margin: 0;
      padding: 0;
    }

    // add custom paddings here
    &-inner {
      column-gap: $container-padding-desktop;
      display: grid;
      grid-template-columns: 0.3fr 1fr 2.5fr 2fr 0.5fr;
      padding: 0;

      div {
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
