$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;

$container-max-width: 1440px;
$container-padding-desktop: 20px;
$container-padding-tablet: 20px;
$container-padding-mobile: 20px;
$content-max-width: 600px;
$component-spacing-desktop: 120px;
$component-spacing-tablet: 80px;
$component-spacing-mobile: 40px;
$gutter-width: 24px;

$black: #000;
$white: #fff;
$lime: #0f0;

$color-brand: #0d8eff;
$color-accent: $lime;
$color-background: #fff;
$color-contrast: $black;
$color-text: $black;
$color-headline: #0b1016;
$color-border: $white;

$color-background-light: $white;
$color-background-dark: $black;
$color-background-hero: $color-brand;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';
