<div is="flynt-form-contact-form-7" class="flyntComponent componentSpacing {{ options.theme }}">
  {% if preContentHtml %}
    <div class="preContent button-reserve">
      {{ preContentHtml|e('wp_kses_post') }}
    </div>
  {% endif %}
  <div class="container container-form">
    <div class="button-close">✕</div>
    <div class="form {{ options.card ? 'themeReset' }}">
      {% set formShortcode = '[contact-form-7 id="' ~ formId ~ '"]' %}
      {{ formShortcode|shortcodes }}
    </div>
  </div>
</div>
